@use "../abstract/variables" as variables;


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: variables.$font-weight-bold;
    font-size: 13px;
    color: variables.$color-white;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.8;
    }

    &--purple {
        background-color: variables.$color-purple;
    }

    &--blue {
        background-color: variables.$color-blue;
    }
}