<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Позиціонування елементів</title>
    <link rel="stylesheet" href="../styles/task_7.css">
</head>

<body>
    <h1 class="experiment-header">Позиціонування елементів</h1>

    <div class="box box-fixed">Fixed Box (зафіксований блок)</div>

    <div class="scroll-container">

        <div class="box box-static">Static Box (за замовчуванням)</div>

        <div class="box box-relative">Relative Box (зсунутий відносно початкової позиції в потоці)</div>

        <div class="parent-container">
            <p>Relative box (батьківський блок)</p>
            <div class="box box-absolute">Absolute Box (дочірній блок)</div>
        </div>

        <div class="box box-sticky">Sticky Box ("прилипає" до верхньої частини сторінки)</div>

        <div class="spacer">Скролимо сторінку...</div>
        <div class="spacer">Ще скролимо...</div>
        <div class="spacer">Кінець сторінки.</div>

        <nav class="main-navigation">
            <a href="../index.html" class="return-button">Повернутися на головну сторінку</a>
        </nav>
    </div>
</body>

</html>