<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Робота з блоковими та інлайновими елементами</title>
    <link rel="stylesheet" href="../styles/task_2.css">
</head>

<body>
    <h1 class="main-header">Робота з блоковими та інлайновими елементами</h1>

    <h2 class="block-elements-header">Блокові елементи (займають весь рядок)</h2>
    <div class="block-elements-container">
        <div class="block-element">Блок 1 (div)</div>
        <div class="block-element">Блок 2 (div)</div>
        <p class="block-element">Абзац (p)</p>
        <h3 class="block-element">Заголовок 4-го рівня (h4)</h3>
    </div>

    <h2 class="inline-elements-header">Інлайнові елементи (займають лише необхідну ширину)</h2>
    <div class="inline-elements-container">
        <span class="inline-element">Рядок 1 (span)</span>
        <span class="inline-element">Рядок 2 (span)</span>
        <a href="../index.html" class="inline-element">Посилання (a)</a>
        <strong class="inline-element">Жирний текст (strong)</strong>
        <em class="inline-element">Курсивний текст (em)</em>
    </div>

    <nav class="main-navigation">
        <a href="../index.html" class="return-button">Повернутися на головну сторінку</a>
    </nav>
</body>

</html>