.hero {
    padding-top: 258px;
    padding-left: 20%;
    background-color: #eeeff1;

    &__title {
        font-size: 48px;
        line-height: 1.64;
        font-weight: var(--font-weight-medium);
        color: #000000;
        margin-bottom: 50px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.64;
        font-weight: var(--font-weight-normal);
        color: #727272;
        width: 540px;
    }

    &__button {
        cursor: pointer;
        font-family: inherit;
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        line-height: 1.64;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background-color: #34547a;
        color: #ffffff;
        border: transparent;
        padding: 20px 46px;
        margin-top: 64px;
        margin-bottom: 142px;
    }
}


.about {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 32px;
        line-height: 1;
        font-weight: var(--font-weight-medium);
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.64;
        font-weight: var(--font-weight-normal);
        color: #727272;
        width: 540px;
        text-align: center;
    }
}


.stats {
    margin-top: 100px;
    padding: 100px 100px;
    list-style-type: none;
    background-color: #34547a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 40px;

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__title {
        font-size: 21px;
        line-height: 1;
        font-weight: var(--font-weight-medium);
        color: #ffffff;
        margin-bottom: 2px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.64;
        font-weight: var(--font-weight-normal);
        color: #ffffff;
        margin: 0;
    }
}


.work {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 32px;
        line-height: 1;
        font-weight: var(--font-weight-medium);
        margin-bottom: 50px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.64;
        font-weight: var(--font-weight-normal);
        color: #727272;
        width: 540px;
        text-align: center;
    }

    &__wrapper {
        margin-top: 56px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 80%;
    }

    &__image-decor {
        position: absolute;
        width: 10%;

        &--centered {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}