* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.mondrian-table {
    width: 514px;
    height: 514px;
    border-collapse: collapse;
    border: 1px solid #020202;
    background-color: #020202;
}

.mondrian-table td {
    border: 7px solid #020202;
    padding: 0;
}

.white {
    background-color: #f2f5f0;
}

.red {
    background-color: #df2618;
}

.blue {
    background-color: #002394;
}

.yellow {
    background-color: #f7cb15;
}

.black {
    background-color: #020202;
}