@use "../abstract/mixins" as mixins;
@use "../base/variables" as variables;

.footer {
    margin-top: 100px;
    padding: 50px 20%;
    background-color: variables.$color-bg-dark;

    &__title {
        font-size: 21px;
        line-height: 1;
        font-weight: var(--font-weight-medium);
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__copyright {
        font-size: 13px;
        line-height: 1.64;
        font-weight: var(--font-weight-normal);
        color: #ffffff;
    }
}