@use "sass:map";
@use "../base/variables" as variables;


@mixin media-respond-to($breakpoint) {
    @if map.has-key(variables.$breakpoints, $breakpoint) {
        @media (max-width: map.get(variables.$breakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin flex-center($direction: row) {
    display: flex;

    @if $direction == column {
        flex-direction: column;
    }

    justify-content: center;
    align-items: center;
}


@mixin section-description($width: 540px, $align: center) {
    font-size: 16px;
    line-height: 1.64;
    font-weight: variables.$font-weight-normal;
    color: variables.$color-text-medium;
    width: $width;
    text-align: $align;
}


@mixin section-title($font-size: 32px, $line-height: 1, $margin-bottom: 50px) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: variables.$font-weight-medium;
    margin-bottom: $margin-bottom;
}