body {
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px dashed orange;
  border-radius: 10px;
}

.product__status--available {
  color: green;
}

.product__status--not-available {
  color: red;
}