<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Вивчення CSS властивостей</title>
    <link rel="stylesheet" href="../styles/task_4.css">
</head>

<body>
    <h1 class="experiment-header">Експеримент з властивістю display</h1>
    <div class="display-container">
        <h2>Display: block</h2>
        <div class="display-container-block">
            <div class="box">Блок 1</div>
            <div class="box">Блок 2</div>
        </div>
        <h2>Display: inline-block</h2>
        <div class="display-container-inline-block">
            <div class="box">Блок 1</div>
            <div class="box">Блок 2</div>
        </div>
        <h2>Display: flex</h2>
        <div class="display-container-flex">
            <div class="box">Блок 1</div>
            <div class="box">Блок 2</div>
        </div>
    </div>

    <h2>Експеримент з властивістю box-sizing</h2>
    <div class="size-box content-box">content-box</div>
    <div class="size-box border-box">border-box</div>

    <nav class="main-navigation">
        <a href="../index.html" class="return-button">Повернутися на головну сторінку</a>
    </nav>
</body>

</html>