$color-purple: #ad1fea;
$color-blue: #4661e6;
$color-dark-blue: #373f68;
$color-white: #ffffff;

$color-light-blue-1: #f2f4ff;
$color-light-blue-2: #f7f8fd;
$color-dark-slate: #3a4374;
$color-muted-blue: #647196;

$color-orange: #f49f85;
$color-sky-blue: #62bcfa;
$color-red: #d73737;

$font-primary: "Jost", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$breakpoints: (
    "desktop": 1440px,
    "tablet": 768px,
    "mobile": 375px,
);