body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    background-color: aliceblue;
    padding: 15px;
    max-width: 650px;
}

.float-box-left {
    float: left;
    width: 120px;
    height: 80px;
    background-color: orange;
    margin-right: 15px;
    margin-bottom: 5px;
}

.float-img-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

.text {
    line-height: 1.75;
}

.clear-box {
    clear: both;
    background-color: lightgreen;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.main-navigation {
    margin-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: darkred;
}

a:active {
    color: darkorange;
}