* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: #ffffff;
}

.mondrian-table {
    margin: 100px 0;
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    background: #000000;
}

.mondrian-table td {
    border: 7px solid #000000;
    padding: 0;
}

.no-border-top {
    border-top-color: transparent !important;
}

.no-border-right {
    border-right-color: transparent !important;
}

.no-border-bottom {
    border-bottom-color: transparent !important;
}

.no-border-left {
    border-left-color: transparent !important;
}

.white {
    background: #ffffff;
}

.red {
    background: #ff0000;
}

.yellow {
    background: #ffff00;
}

.blue {
    background: #0000ff;
}

.black {
    background: #000000;
}

.narrow {
    width: 30px;
}

.big-row {
    height: 80px;
}

.medium-row {
    height: 50px;
}

.small-row {
    height: 20px;
}